@import "tailwindcss";

.square {
  height: 50px;
  width: 50px;
  background-color: var(--light);
}

.rectangle {
  height: 270px;
  width: 480px;
  background-color: var(--light);
}

:root {
  --background: #f6f8fa;
  --default: #24292f;
  --light: #8c959f;
}

body {
  background-color: var(--background);
  color: var(--default);
}
